<div class="container">
    <div class="row mb-3">
        <div class="card customCard text-white h-100 d-flex justify-content-center">
            <div class="card-body">
                <h5 class="card-body TitleFont">{{stock.ticker}} - {{stock.name}}</h5>
                <p class="card-text mb-1 InfoFont"><strong>Price:</strong> {{stock.price}} {{stock.currency}}</p>
                <p class="card-text mb-1 text-warning InfoFont"><strong>Change:</strong> {{stock.change}}%</p>
                <p class="card-text mb-1 text-success InfoFont"><strong>Day High:</strong> {{stock.day_high}}</p>
                <p class="card-text mb-1 text-danger InfoFont"><strong>Day Low:</strong> {{stock.day_low}}</p>
                <p class="card-text mb-1 InfoFont"><strong>Currency:</strong> {{stock.currency}}</p>
                <p class="card-text mb-1 InfoFont"><strong>Date:</strong> {{stock.date}}</p>
            </div>
        </div>
    </div>
</div>